@import "/common/css/util";

.w-scroll-btn {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  background: #000000;
  opacity: .2;
  border-radius: 50%;

  .btn-wrap {
    display: table-cell;
    height: px2rem(34);
    vertical-align: middle;
  }
  span{
    display: inline-block;
    width: px2rem(34);
    color: #fff;
    font-size: 12px;
    text-align: center;
  }

}
.w-scroll-btn-up {
  margin-top: - px2rem(25);
}
.w-scroll-btn-down {
  margin-top: px2rem(25);
}